<mat-card>
    <mat-card-title>
        <ng-container i18n>Terminal List</ng-container>

        <mat-spinner color="accent" diameter='32' *ngIf="disabled"></mat-spinner>
    </mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngFor="let node of source">
                <mat-icon matListIcon fontSet="fontawesome-fas" fontIcon="fa-terminal"></mat-icon>
                <h3 matLine>{{node.name}}</h3>
                <h3 matLine>{{node.id}}</h3>
                <button mat-icon-button [disabled]="true">
                    <mat-icon color="accent">{{node.attached? 'done':'close'}}</mat-icon>
                </button>
                <a mat-icon-button routerLink="view/{{node.id}}" i18n-matTooltip matTooltip="Connect">
                    <mat-icon>settings_ethernet</mat-icon>
                </a>
                <button mat-icon-button i18n-matTooltip matTooltip="edit" [disabled]="disabled"
                    (click)="onClickEdit(node)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button i18n-matTooltip matTooltip="delete" [disabled]="disabled"
                    (click)="onClickDelete(node)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <a routerLink="view/new">
            <button mat-stroked-button color="primary">
                <ng-container i18n>Create Connect</ng-container>
            </button>
        </a>
        <button mat-stroked-button color="primary" [disabled]="disabled" i18n (click)="load()">Refresh</button>
    </mat-card-actions>
</mat-card>