<mat-card>
    <mat-card-content>
        <ng-container *ngIf="info;then infoView"></ng-container>
        <ng-template #infoView>
            <p>
                <button mat-icon-button [disabled]="true">
                    <mat-icon color="accent">{{ok ? 'done':'close'}}</mat-icon>
                </button>
                {{info.id}}
                {{info.name}}
                {{this.duration}}

                <button *ngIf="!ok" (click)="onClickConnect()" mat-icon-button i18n-matTooltip matTooltip="Connect">
                    <mat-icon>settings_ethernet</mat-icon>
                </button>
            </p>
        </ng-template>

        <mat-spinner *ngIf="connect" color="accent" diameter='32'></mat-spinner>

        <div (window:resize)="onResize()" class="view">
            <div #xterm style="height: 100%;"></div>
        </div>
        <p *ngIf="ok">
            <mat-form-field>
                <mat-label i18n>Font Size</mat-label>
                <input type="number" matInput required [(ngModel)]="fontSize" name="fontSize" [min]="10">
                <mat-error i18n>Font Size Invalid</mat-error>
            </mat-form-field>
            <button class="setbtn" mat-stroked-button (click)="onClickFontSize()" i18n>Set Option</button>
        </p>
    </mat-card-content>
</mat-card>