<mat-card>
    <mat-card-title>
        <ng-container>{{root}}</ng-container>

        <mat-spinner color="accent" diameter='32' *ngIf="query"></mat-spinner>
    </mat-card-title>
    <mat-card-content>
        <mat-nav-list>
            <a [routerLink]="['/fs/list']" [queryParams]="{root:node.root,path:node.filename}"  mat-list-item *ngFor="let node of source">
                <h3 matLine>{{node.name}}</h3>
            </a>
            </mat-nav-list>
            
    </mat-card-content>
</mat-card>
