<shared-navigation-bar></shared-navigation-bar>
<div class="router">
    <router-outlet></router-outlet>
    <toaster-container [toasterconfig]="config"></toaster-container>
</div>
<div #xi18n style="display: none;">
    <div data-key="error" i18n>Error</div>
    <div data-key="success" i18n>Success</div>
    <div data-key="delete user" i18n>delete user</div>
    <div data-key="user has been deleted" i18n>user has been deleted</div>
    <div data-key="user added successfully" i18n>user added successfully</div>
    <div data-key="change password completed" i18n>change password completed</div>
    <div data-key="change authorization completed" i18n>change authorization completed</div>
    <div data-key="terminal has been deleted" i18n>terminal has been deleted</div>
    <div data-key="change terminal completed" i18n>change terminal completed</div>
    <div data-key="delete terminal" i18n>delete terminal</div>
    <div data-key="Unsupported file type" i18n>Unsupported file type</div>
</div>